@import "vars";
@import "base";

@import "components/nav";
@import "components/search-form";

@import "pages/home";
@import "pages/show";

.dancing-char {
    position: fixed;
    bottom: -2px;
    right: 20px;

    img {
        height: 200px;
    }
}