@font-face {
  font-family: "Romance Fatal";
  src: url("/fonts/romance_fatal_serif.ttf");
}
body {
  padding: 0;
  margin: 0;
  background: #faf4eb;
}
main {
  padding: 4rem;
}
nav {
  display: flex;
  padding: 0.4rem 1rem;
  background: white;
  font-family: Romance Fatal;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
nav .logo span {
  font-weight: bold;
  color: #e793bb;
}
nav .logo img {
  margin-right: 1rem;
}
.home-page h1 {
  font-family: Romance Fatal;
  letter-spacing: 4px;
}
.home-page .carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.home-page .carousel > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 2rem;
  background: #f0bdd5;
  color: white;
}
.home-page .top-anime {
  display: flex;
  width: 89%;
  overflow-x: hidden;
}
.home-page .top-anime a {
  box-sizing: border-box;
  width: 22%;
  min-width: 22%;
  background: white;
  padding: 10px;
  margin: 0 1.5%;
  color: inherit;
  text-decoration: none;
}
.home-page .top-anime .anime img {
  width: 100%;
  height: 300px;
}
.show-page h1,
.show-page h2 {
  margin: 0;
  font-family: Romance Fatal;
  letter-spacing: 2px;
}
.show-page .show {
  background: white;
  padding: 1rem;
}
.show-page header {
  display: flex;
  align-items: center;
}
.show-page header .info {
  padding-left: 2rem;
}
.show-page header .rating {
  font-size: 1.6rem;
}
.show-page header .rating span {
  font-weight: bold;
}
.show-page header .rating .green {
  color: mediumseagreen;
}
.show-page header .rating .red {
  color: crimson;
}
.show-page header p {
  line-height: 1.4rem;
}
.show-page section {
  display: flex;
  margin-top: 4rem;
}
.show-page .episodes {
  flex: 1;
}
.show-page .trailer {
  flex: 2;
}
.show-page .trailer iframe {
  margin-top: 2rem;
  width: 100%;
  max-width: 800px;
  height: 40vw;
  max-height: 450px;
}
.dancing-char {
  position: fixed;
  bottom: -2px;
  right: 20px;
}
.dancing-char img {
  height: 200px;
}
