@font-face {
  font-family: "Romance Fatal";
  src: url("/fonts/romance_fatal_serif.ttf");
}
body {
  padding: 0;
  margin: 0;
  background: #faf4eb;
}
nav {
  display: flex;
  padding: 0.4rem 1rem;
  background: white;
  font-family: Romance Fatal;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
nav .logo span {
  font-weight: bold;
  color: #e793bb;
}
nav .logo img {
  margin-right: 1rem;
}
.dancing-char {
  position: fixed;
  bottom: 0;
  right: 50px;
}
.dancing-char img {
  height: 200px;
}
